<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.CampusCompanion">
      <activity android:name=".SplashActivity" android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
      <activity android:name=".LoginActivity" />
      <activity android:name=".RegisterActivity" />
      <activity android:name=".ForgotPasswordActivity" />
      <activity android:name=".TermsActivity" />
      <activity android:name=".WelcomeActivity" />
      <activity android:name=".MainActivity" />
      <activity android:name=".CourseDetailsActivity" />
      <activity android:name=".AddCourseActivity" />
      <activity android:name=".EditCourseActivity" />
      <activity android:name=".TaskDetailsActivity" />
      <activity android:name=".AddTaskActivity" />
      <activity android:name=".EditTaskActivity" />
      <activity android:name=".SearchActivity" />
      <activity android:name=".NotificationsActivity" />
      <activity android:name=".SettingsActivity" />
      <activity android:name=".ChangePasswordActivity" />
      <activity android:name=".LanguageActivity" />
      <activity android:name=".AboutActivity" />
  </application>
</manifest>